.cursoOption {
    width: 15%;
    height: 8vmin;
    border: #C5C5C5 solid 1px;
    background-color: var(--color-gray-light);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1em;
    color: var(--color-green-primary);
}

.cursoOption:hover{
    background-color: var(--color-green-primary);
    border: none;
    color: var(--color-gray-light);
}

@media (max-width: 500px) {
    .cursoOption{
        width: 18%;
        height: 10vmin;
        font-size: 0.9em;
    }
    
}