.homeTitle {
    position: relative;
    text-align: center;
    color: var(--color-green-primary);
    padding-top: 5vh;
}

.homeTitle__text {
    font-size: 3em;
    font-weight: 800;
}

.homeTitle__line{
    position: absolute;
    right: -20%;
    width: 40%;
}

.homeTitle__text__orange{
    color: var(--color-orange-secondary);
}

.homeTitle__text__green{
    color: var(--color-green-primary);
}

@media (max-width: 500px) {
    .homeTitle__text {
        font-size: 1.5em;
    }
    .homeTitle__line{
        display: none;
    }
}