.main-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-logo__logo {
    width: 12vmin;
    height: 12vmin;
}

.main-logo__name {
    font-size: 2em;
    font-family: 'Raleway';
    font-weight: 900;
    color: var(--color-green-primary);
}

@media (max-width: 500px) {
    .main-logo__name{
        display: none;
    }
}