.footer {
    background-image: url('images/svg/FooterBg.svg');
    height: 30vh;
    max-height: 450px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;        
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer_section{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer_section p{
    color: var(--color-green-primary);
}

.footer_section_title{
    font-weight: 700;
    font-size: 18px;
    color: var(--color-green-primary);
}

