.main-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    background-color: transparent;
    position: fixed;
    z-index: 1000;
    padding: 10px;
    background-color: #D2E6E4df;
}
.main-header__option {
    color: var(--color-green-primary);
    font-size: 18px;
    font-family: 'Raleway';
    font-weight: 600;;
}