.materias{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.materias_span{
    width: 70%;
    line-height: 160%;
    text-align: center;
    font-size: 1.7em;
    font-weight: 300;
    letter-spacing: 2px;
}

.materias_list{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@media (max-width: 500px) {
    .materias{
        gap: 20px;
    }
    .materias_span{
        width: 85vw;
        line-height: 120%;
        font-size: 1em;
        letter-spacing: 0;
    }   
    
    .materias_list{
        flex-direction: column;
        gap: 20px;
    }
}