.presentation {
    background-color: var(--color-green-light);
    width: 100vw;
    height: 100vh;
    position: relative;
    margin-bottom: 7%;
}

.presentation__lines{
    width: 90vw;
    position: absolute;
    top: -10%;
    left: 0;
}

.presentation__rectangle{
  min-width: 60%;
  height: 32%;
  position: absolute;
  top: 30%;
  left: 2%;
}

.presentation__rectangle__long{
    background-color: var(--color-white);
    position: absolute;
    width: 80%;
    height: 25%;
    bottom: 10%;
    left: 10%;
    transform: rotate(1.5deg);
    z-index: -1;
}

.presentation__rectangle__first{
    background-color: var(--color-white);
    position: absolute;
    width: 80%;
    height: 25%;
    bottom: 10%;
    left: 10%;
    transform: rotate(-2deg);
    z-index: -1;
}

.presentation__rectangle__second{
    background-color: var(--color-white);
    position: absolute;
    width: 80%;
    height: 25%;
    bottom: 10%;
    right: 10%;
    transform: rotate(1deg);
    z-index: -1;
}

.presentation__span{
    position: absolute;
    top: 25%;
    left: 8%;
    height: 2.5em;
    font-size: 1em;
    background-color: var(--color-gray-light);
    padding: 1%;
    padding-inline: 25px;
    border-radius: 10px;
    color: var(--color-blue);
}

.presentation__phrase{
    font-size: 10vmin;
    font-weight: 700;
    color: var(--color-green-primary);
    position: absolute;
    top: 30%;
    left: 10%; 
}

.presentation__phrase span{
  position: relative;
  font-weight: 700;
  z-index: 1;
}

.presentation__button{
    width: 20%;
    height: 7%;
    position: absolute;
    bottom: 15%;
    left: 10%;
    background-color: var(--color-orange-secondary);
    font-size: 18px;
    font-weight: 400;
    color: var(--color-gray-light);
    letter-spacing: 2px;
    border-radius: 10px;
}

.presentation__image {
    position: absolute;
    bottom: 0;
    z-index: 0;
}
.presentation__image__man {
    height: 80%;
    right: 0;
}
.presentation__image__calendar {
    height: 9%;
    right: 30%;
    bottom: 40%;
}
.presentation__image__bar {
    height: 20%;
    right: 5%;
    bottom: 40%;
}

.presentation__buttonSection {
    width: 50vmin;
    height: 25vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -25vmin;
    left: calc(50vw - 25vmin);
    background-color: var(--color-green-light);
    border-radius: 0 0 25vmin 25vmin;
  }

.presentation__buttonSection__button {
    position: absolute;
    top: -20vmin;
    width: 40vmin;
    height: 40vmin;
    border-radius: 50%;
    background-color: var(--color-green-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    overflow: hidden;
    transform: rotate(0deg);
    animation: rotateText 5s linear infinite;
  }

  @keyframes rotateText {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
  }

  .presentation__buttonSection__svg {
    position: absolute;
    width: 90%;
    height: 90%;
    fill: transparent;
  }
  
  .presentation__buttonSection__buttonTextExplore {
    text-align: center;
    font-size: 1.5em;
    letter-spacing: 0.15rem;
    fill: var(--color-white);
  }
  .presentation__buttonSection__button__play {
    width: 20%;
    height: 20%;
    position: absolute;
  }
  
  @media (max-width: 500px) {
    .presentation{
      height: 250px;
    }
    .presentation__phrase{
      font-size: 1em;
      font-size-adjust: inherit;
      top: 40%;
    }

    .presentation__lines{
      width: 100vw;
      top: 10%;
    }

    .presentation__buttonSection{
      width: 30vmin;
      height: 15vmin;
      bottom: -15vmin;
      left: calc(50vw - 15vmin);
    }
    
    .presentation__buttonSection__button{
      width: 25vmin;
      height: 25vmin;
      top: -12.5vmin;
    }
    
    .presentation__span{
      height: 2em;
      font-size: 0.7em;
      padding: 1.7vmin;
    }

    .presentation__button{
      width: 32%;
      height: 7%;
      font-size: 0.7em;
      font-weight: 600;
      padding: 1px;
      bottom: 20%;
    }

    .presentation__image__calendar{
      right: 38%;
      top: 50%;
    }
  }